ausarbeitung/ausarbeitung.aux
ausarbeitung/ausarbeitung.bbl
ausarbeitung/ausarbeitung.blg
ausarbeitung/ausarbeitung.dvi
ausarbeitung/ausarbeitung.log
ausarbeitung/ausarbeitung.out
ausarbeitung/ausarbeitung.tcp
ausarbeitung/ausarbeitung.toc
ausarbeitung/ausarbeitung.tps
